# Copiez ce fichier en ".env" et ajustez les valeurs.
DJANGO_SECRET_KEY=couveuse2026
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_TIME_ZONE=Africa/Bamako

DB_NAME=couveuse_db
DB_USER=postgres
DB_PASSWORD=kissima1983
DB_HOST=127.0.0.1
DB_PORT=5432
